doctype html 
html(lang="en")
    head 
        meta(charset="utf-8") 
        meta(name="viewport" , content="width=device-width , initial-scale=1.0") 
        title= title 
        meta(name="description" , content=metaDescription) 
        meta(name="keywords" ,    content=metaKeywords) 
        meta(property="og:type" content="website") 
        meta(property="og:url" content="https://www.celchin.com") 
        meta(property="og:site_name" content="Celchin") 
        meta(property="og:title" content="Celchin - The power house of electricity") 
        meta(property="og:description" content=metaDescription) 
        meta(property="og:image" itemprop="image primaryOfPage" content="https://www.giin.money/images/icon.png") 
        meta(name="twitter:card" content="summary") 
        meta(name="twitter:domain" content="https://www.celchin.com") 
        meta(name="twitter:title" content="Celchin - The power house of electricity") 
        meta(name="twitter:description" content=metaDescription) 
        meta(name="twitter:url" content="https://www.celchin.com") 
        meta(name="twitter:image" content="https://www.celchin.com") 
        meta(property="web-app-capable" content="yes") 
        meta(property="theme-color" content="orange") 
        meta(name="robots" content="no-follow") 
        meta(name="application-name" content="Celchin")
        link(rel="icon" type="image/png" href="/images/logo.png")
        <link rel="preconnect" href="https://fonts.gstatic.com">
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet")
        //- link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet")
        //- link(rel='stylesheet' , href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
        //- link(rel='stylesheet' , href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css') 
        link(rel='stylesheet' , href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' , href='/plugins/fontawesome/css/font-awesome.min.css')
        link(rel='stylesheet' , href='/plugins/owlcarousel/assets/owl.carousel.min.css')
        link(rel='stylesheet' , href='/plugins/animate/animate.min.css')
        link(href="/stylesheets/nucleo-icons.min.css" rel="stylesheet")
        link(rel="stylesheet", href="/plugins/datatables/dataTables.bootstrap4.css")
        //- link(rel="stylesheet", href="/stylesheets/style.css") 
     
  

    