include includes/bigjara-head.pug 
block content
  link(rel="stylesheet" href="/stylesheets/dashboard.css")
  link(rel="stylesheet" href="/css/blog.css")
  body.bg-fainted 
    .loader-bg
      .loader-track
        .loader-fill
    include includes/new-sidenav.pug 
    include includes/new-usernav.pug
    .pcoded-main-container
      .pcoded-wrapper
        .pcoded-content
          .pcoded-inner-content
            section(class="d-wrapper")
              main.main(style="width:100%")
                div.wrapper.mb-5
                  p Welcome to the marketplace  , easily add items to shop  
                  div.wrap.justify-content-between  
                    div.wrap-md-6.shadow.bg-white.wrap-12.mb-4
                      if shops.length > 0 
                        div.shadow.bg-white.p-2
                          h3 Items in shop 
                          .table-responsive.prodd
                            table(class="table table-bordered m-b-2") 
                                thead  
                                  tr.text-center
                                      th S/N 
                                      th Name 
                                      th Quantity 
                                      th Status 
                                      th Action 
                                tbody  
                                  each shop  , i in shops 
                                    -let productUrl = `/admin/products/${shop.product._id}` 
                                    -let status = shop.status ? "Visible" : "Hidden"
                                    tr.text-center
                                      td #{i + 1} 
                                      td(class="shops" shop-identifier=shop._id) #{shop.product.name} 
                                      td #{shop.quantity} 
                                      td #{status}
                                      td #[input(type="checkbox"  class="input input-border-faint checkShop")]  
                          button(class="button no-border no-outline white-text btn-orange  m-r-1 " id="removeButton") Remove 
                          button(class="button no-border no-outline white-text bg-green" id="hideButton") Toggle  
                      else 
                        h2 No product in shop 

                    div.wrap-md-6.shadow.bg-white.pad-10.wrap-12
                      if products.length > 0 
                        h3 Items to add 
                        .table-responsive.prodd
                          table(class="table table-bordered m-b-2") 
                            thead  
                              tr.text-center
                                th S/N 
                                th Name 
                                th Quantity 
                                th Refill  
                                th Action 
                            tbody 
                              each product  , i in products 
                                -let productUrl = `/admin/products/${product._id}`
                                tr.text-center
                                  td #{i + 1} 
                                  td(class="products" product-identifier=product._id) #{product.name} 
                                  td #{product.quantity} 
                                  td #[input(type="text" size="5" class="input input-border-faint refill")]
                                  td #[input(type="checkbox"  class="input input-border-faint checkProduct")] 
                        button(class="button no-border no-outline white-text btn-orange m-r-1" id="addButton") Add 
                        button(class="button no-border no-outline white-text bg-green" id="topupButton") Topup   
                      else 
                        h2  No Items to add
                      
                            
                        
              
                 
    script(src="/js/easyframer.js")
    script(src="/js/transactionmanager.js" type="module")

    script(src="/javascripts/vendor-all.min.js")
    script(src="/plugins/select2/select2.min.js")
    script(src="/javascripts/library/select.js")
    script(src="/plugins/bootstrap/js/bootstrap.min.js")
    script(src="/javascripts/pcoded.min.js")
  