include includes/bigjara-head.pug 
link(rel="stylesheet" href="/css/blog.css")
block content 
body.bg-fainted  
  section(class="d-wrapper")
    include includes/sidebar.pug 
    main.main(style="width:100%")
      include includes/admin-nav.pug 
      div.wrapper  
        div.wrap.justify-content-between  
          div.wrap-md-6
            h2.text-center.m-b-1.uppercase #{ad.title} 
            div.w-100.m-b-1 
              figure 
                img(class="w-100 img-rectangular" src=`/ads/${ad.banner}` alt=`${ad.title} Logo`) 
            p 
              strong Duration 
              span #{ad.duration}
           
            h3.uppercase Description 
            //div #{category.description} 
            div(data-identifier=`${ad._id}` id="postContent" class="m-b-1")
              
  script(src="/js/easyframer.js")
  script(src="/js/grabAd.js" type="module")